<!DOCTYPE html>
<html>
<head>
<title>Asjad Nazir</title>
	<link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://path/to/font-awesome/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header id="main_navigation" class="clearfix">
		<%= link_to "ASJAD NAZIR", root_path, class:"name" %>
		<nav>
			<%= link_to "Articles", posts_path %>
			<%= link_to "Projects", projects_path %>
			<a href="contact.html">Contact</a>
		</nav>
	</header>

<%= yield %>

<footer id="main_footer">
		<p class="copyright">&copy;2016 Asjad Nazir</p>
		<nav>
			<a href="http://twitter.com/asjadnazir" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
			<a href="http://dribbble.com/asjadnazir" target="_blank"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
			<a href="http://github.com/asjadnazir" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
		</nav>
	</footer>
</body>
</html>
